body {
  margin-top: 20px;
  background-color: #eee;
  background-image: url('http://c1.staticflickr.com/5/4428/36401449295_9a376a5cef_h.jpg');
}

.main-container {
  max-width: 480px; 
  padding: 15px;
  background: rgba(1, 1, 1, 0.07);
}

.title-adjust-right {
  margin-right: 265px;
  margin-bottom: 20px;
}

/* Source: https://bootsnipp.com/snippets/featured/circle-button */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

